@mixin box_sizing {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}


#paper_header{width:755px;}
#attendance_header{width:755px;}

/* =============================================================================
   勤務状況報告書(一覧)
   ========================================================================== */
article.attendance_index span{margin:0px;color:red; !important;}

article.attendance_index table{border-spacing: 0;}
article.attendance_index table tr th {font-size:12px;}
article.attendance_index table tr th{padding:5px 5px !important;}
article.attendance_index table tr td {font-size:12px;}
article.attendance_index table tr td{padding:2px 0px !important;height:24px !important;background-color:#fff;}
article.attendance_index table tr td .button {padding:4px !important;margin:0px !important;}
article.attendance_index table tr td.bg_gray{background-color:#9F9687 !important;}
article.attendance_index select {display: inline-block;width:50%;}

article.attendance_index #paper_header table#paper_project {border-style:none !important;width:300px;margin-right:60px;margin-top:10px;}
article.attendance_index #paper_header table#paper_project table {border:none;}
article.attendance_index #paper_header table#paper_project td {border:0px;background-color:#fff;border-bottom: 1px solid #ECECEC;height:60px;}
article.attendance_index #paper_header table#paper_project td strong{color:#6E6E6E;}
article.attendance_index #attendance_title{width:200px;border-bottom:1px solid #000;text-align:center;margin-bottom:20px;}
article.attendance_index #attendance_nengetu{width:240px;text-align:center;}
article.attendance_index #paper_header table#paper_project{margin-bottom:0px;}

.button.important{background-color:#4F7D06 !important;}


article {padding-left:5px;}


article.attendance_index label{padding-right: 20px;}

article.attendance_index .button.tiny.radius a{color:white;}
article.attendance_index .button.tiny.radius a:hover{background:none;}

i.fi-clipboard-pencil{padding-right: 5px;}
i.fi-print{color:white;padding-right:10px;}
i.fi-refresh{color:white;padding-right:10px;}
i.fi-plus{padding: 0px 5px;}
i.fi-check{padding-right:10px;}
i.fi-x{padding: 0px 5px;color: white;}

/* article.attendance_index table.kinmu_pattern td {font-size:6px;} */

/* =============================================================================
   勤務状況報告書(編集)
   ========================================================================== */
article.attendance_edit select {display: inline-block;width:10%;}
article.attendance_edit select#attendance_pattern {display: inline-block;width:35%;}
article.attendance_edit .kubun{padding-right:10px;}
article.attendance_edit table#hours{border:0px;}
article.attendance_edit table#hours thead tr td {padding:0px !important;margin:0px !important;background-color:white;}
article.attendance_edit table#hours tbody tr td {padding:0px !important;margin:0px !important;}

article.attendance_edit input{margin-bottom:0px !important;}
article.attendance_edit .button{margin-bottom:0px;}



/* =============================================================================
   勤務状況報告書(PDF)
   ========================================================================== */
article.attendance_print{margin-left:10px;margin-bottom: 0px;}
article.attendance_print span{margin:0px;color:red;}

article.attendance_print table{border-spacing: 0;border-collapse: collapse;padding: 0px;}
article.attendance_print table#attendance_main{width:745px;margin-bottom:6px;}
article.attendance_print table tr th {font-size:10px;padding:1px 1px !important;background-color:#fff;font-weight:normal;border:1px solid black;}
article.attendance_print table tr td {font-size:10px;padding:0px 0px !important;height:16px !important;background-color:#fff;border:1px solid black;}
article.attendance_print table tr td .button {padding:4px !important;margin:0px !important;}
/* article.attendance_print .dash_line{background-image: image-url("dash_line.png") !important;background-repeat:no-repeat;background-position:center;} */
/* article.attendance_print .dash_line{position: absolute;border-right:1px dashed #000;width:25px;height:24px;;@include box_sizing;} */

#dashed_line_over_time{position: absolute;border-right:1px dashed #000;width:25px;height:698px;top:200px;left:342px;@include box_sizing;}
#dashed_line_holiday_time{position: absolute;border-right:1px dashed #000;width:25px;height:698px;top:200px;left:389px;@include box_sizing;}
#dashed_line_midnight_time{position: absolute;border-right:1px dashed #000;width:25px;height:698px;top:200px;left:436px;@include box_sizing;}
#dashed_line_break_time{position: absolute;border-right:1px dashed #000;width:25px;height:698px;top:200px;left:484px;@include box_sizing;}
#dashed_line_kouzyo_time{position: absolute;border-right:1px dashed #000;width:25px;height:698px;top:200px;left:532px;@include box_sizing;}
#dashed_line_work_time{position: absolute;border-right:1px dashed #000;width:25px;height:698px;top:200px;left:580px;@include box_sizing;}

#solid_line_start_time{position: absolute;border-right:1px dashed #393B32;width:25px;height:659px;top:200px;left:97px;@include box_sizing;}
#solid_line_end_time{position: absolute;border-right:1px dashed #393B32;width:25px;height:659px;top:200px;left:145px;@include box_sizing;}

#solid_line_pstart_time{position: absolute;border-right:1px dashed #393B32;width:25px;height:56px;top:950px;left:103px;@include box_sizing;}
#solid_line_pend_time{position: absolute;border-right:1px dashed #393B32;width:25px;height:56px;top:950px;left:153px;@include box_sizing;}
#dashed_line_pbreak_time{position: absolute;border-right:1px dashed #000;width:25px;height:56px;top:950px;left:203px;@include box_sizing;}
#dashed_line_pwork_time{position: absolute;border-right:1px dashed #000;width:25px;height:56px;top:950px;left:253px;@include box_sizing;}


article.attendance_print table tr td.bg_gray{background-color:#E3E3E3 !important;}

article.attendance_print #attendance_header table#attendance_project {border-style:none !important;width:230px;margin-right:60px;margin-top:10px;}
article.attendance_print #attendance_header table#attendance_project table {border:none;}
article.attendance_print #attendance_header table#attendance_project td {border:0px;background-color:#fff;border-bottom: 1px solid #000;height:60px;}
article.attendance_print #attendance_header table#attendance_project td strong{color:#6E6E6E;}
article.attendance_print #attendance_title{width:200px;border-bottom:1px solid #000;text-align:center;margin-bottom:20px;}
article.attendance_print #attendance_nengetu{width:240px;text-align:center;font-size:12px;}

article.attendance_print .imprint{margin:5px 10px;}

article.attendance_print table.kinmu_pattern{margin-top:15px;margin-bottom: 0px;}
#company_name p{margin-left:510px;margin-top:0px;font-size:11px;}
