@mixin box_sizing {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

article.information_index span{margin:0px;color:red;}

article.information_index table{border-collapse: collapse;border-spacing: 0;}
article.information_index table tr th {font-size:12px;}
article.information_index table tr th{padding:5px 5px !important;}
article.information_index table tr td {font-size:12px;}
article.information_index table tr td{padding:2px 0px !important;height:24px !important;background-color:#fff;}
article.information_index table tr td .button {padding:4px !important;margin:0px !important;}
article.information_ table tr td.bg_gray{background-color:#9F9687 !important;}
article.information_index select {display: inline-block;width:50%;}

article.information_index #paper_header table#paper_project {border-style:none !important;width:230px;margin-right:60px;margin-top:10px;}
article.information_index #paper_header table#paper_project table {border:none;}
article.information_index #paper_header table#paper_project td {border:0px;background-color:#fff;border-bottom: 1px solid #ECECEC;height:60px;}
article.information_index #paper_header table#paper_project td strong{color:#6E6E6E;}
article.information_index #attendance_title{width:200px;border-bottom:1px solid #000;text-align:center;margin-bottom:20px;}
article.information_index #attendance_nengetu{width:240px;text-align:center;}
article.information_index #paper_header table#paper_project{margin-bottom:0px;}

article.information_index .main {max-width: 1080px;}
article.information_index .main tr td {text-align: center;padding: 0px !important;}
article.information_index .main tr th {text-align: center;padding: 5px 2px !important;border: solid 1px;border-color: lightgray;}
article.information_index .main tr td {border: solid 1px;border-color: lightgray;}


article {padding-left:5px;}


article.information_index label{padding-right: 20px;}

article.information_index .button.tiny.radius a{color:white;}
article.information_index .button.tiny.radius a:hover{background:none;}
