/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


article.commute_print table{border-spacing: 0;border-collapse: collapse;padding: 0px;border:none;background-color: FFF;}
article.commute_print table td{padding: 0px; text-align: center;}
article.commute_print table td#title{color: DDE;}
