
article.resumes.index span{margin:0px;color:red;}

/* article.resumes.index table#user_info{border-spacing: 0;} */
/* article.resumes.index table#user_info tr th {font-size:12px;} */
/* article.resumes.index table#user_info tr th{padding:5px 5px !important;} */
/* article.resumes.index table#user_info tr td {font-size:12px;} */
/* article.resumes.index table#user_info tr td{padding:2px 0px !important;height:24px !important;background-color:#fff;} */
/* article.resumes.index table#user_info tr td .button {padding:4px !important;margin:0px !important;} */
/* /\* article.resumes.index table#user_info tr td.bg_gray{background-color:#9F9687 !important;} *\/ */
/* article.resumes.index select {display: inline-block;width:15%;} */

/* article.resumes.index{margin-top:70px;} */
/* article.resumes.index span{margin:0px;color:red;} */

article.resumes.index table#user_info{border-spacing: 0;border-collapse: collapse;padding: 0px;}

article.resumes.index table#user_info#attendance_main{width:755px;margin-bottom:10px;}
article.resumes.index table#user_info tr th {font-size:10px;padding:1px 1px !important;background-color:#fff;font-weight:normal;border:1px solid black;}
article.resumes.index table#user_info tr td.solid {font-size:10px;padding:0px 10px !important;height:20px !important;background-color:#fff;border:1px solid black;}
article.resumes.index table#user_info tr td.solid3 {font-size:10px;padding:0px 10px !important;height:20px !important;background-color:#fff;border:3px solid black;}
article.resumes.index table#user_info tr td.solid_top{border-top:3px solid black;}
article.resumes.index table#user_info tr td.solid_right{border-right:3px solid black;}
article.resumes.index table#user_info tr td.solid_top_none{border-top:0px;}
article.resumes.index table#user_info tr td.solid_bottom_none{border-bottom:0px;}
article.resumes.index table#user_info tr td.gray{background-color:#9F9687;}
article.resumes.index table#user_info tr td.solid_bottom{border-bottom:3px solid black;}
article.resumes.index table#user_info tr td .button {padding:4px !important;margin:0px !important;}

/* article.resumes.index .dash_line{background-image: image-url("dash_line.png") !important;background-repeat:no-repeat;background-position:center;} */
/* article.resumes.index .dash_line{position: absolute;border-right:1px dashed #000;width:25px;height:24px;;@include box_sizing;} */

