// Place all the styles related to the Stampings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article.stamping_index {
  margin-top:20px;
}
article.stamping_index #time {
  margin: 25px;
  font-size: 3.0rem;
}
