article.attendance_index span{color:red;}
/* article.attendance_edit  */
/* select{display: inline-block !important;} */
/* .dropdown-inline-display{ */
/*   display: inline-block !important; */
/*   width: 30% !important; */
/* } */
/* .large-9.small-8.columns */
select {
    display: inline-block;
    width:45%;
  }