/* =============================================================================
   ページ共通
   ========================================================================== */
.gray {background:#3E4C59;}
.button{margin-right:10px;}     /* ボタンとボタンの隙間 */

a:link .button{color:#fff;} /*未訪問のリンクの色*/
a:visited .button{color:#fff;} /*訪問済みのリンクの色*/

/* =============================================================================
   課マスタ
   ========================================================================== */
article.section_list .button{margin-right:0px;}

/* =============================================================================
   勤務状況報告書
   ========================================================================== */
article.attendance_index span{color:red;}

article.attendance_index table{border-spacing: 0;}
article.attendance_index table tr th {font-size:12px;}
article.attendance_index table tr th{padding:5px 5px !important;}
article.attendance_index table tr td {font-size:12px;}
article.attendance_index table tr td{padding:2px 0px !important;height:24px !important;background-color:#fff;}

article.attendance_index table tr td .button {padding:4px !important;margin:0px !important;}
.dash_line{background-image: image-url("dash_line.png") !important;background-repeat:no-repeat;background-position:center;}

article.attendance_edit select {display: inline-block;width:45%;}


/* =============================================================================
   勤務状況報告書(PDF)
   ========================================================================== */
article.attendance_print table{border-spacing: 0;}
/* article.profile_company table tr td {} */
/* article.attendance_print table tr{height:0px;margin:0px;padding:0px;} */
article.attendance_print table tr td{background-color:#fff;font-size:10px;border:1px solid black;}

/* =============================================================================
   交通費精算書(PDF)
   ========================================================================== */
article.transport_print table{border-spacing: 0;border-collapse: collapse;padding: 0px;}
article.transport_print .hyou{table-layout: fixed !important;border:3px solid;}
article.transport_print .hyou tr td{background-color:#fff;border:1px solid black;font-size:10px;height: 40px;padding:0px;padding-left:2px;padding-right: 2px;}
article.transport_print .hyou tr.title td{font-size: 14px;padding-bottom: 0px !important;padding-top: 8px !important;font-weight:bold;height: 10px;font-family: ＭＳ Ｐ明朝;text-align:center;}

article.transport_print table tr .hanko{text-align: center;border:1px solid;padding-bottom: 0px;padding-top: 5px;}
article.transport_print table tr .head{text-align: left;border-bottom:1px solid;padding-bottom: 0px;}
article.transport_print table tr .info{text-align: center;border-bottom:1px solid;padding-bottom: 0px;}
article.transport_print table tr td.syasen{
   background: linear-gradient(150deg, white, white 50%, black 51%, white 52%, white);
   letter-spacing: 0.2em;
}

article.transport_print h1{}