
// Place all the styles related to the SummaryAttendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// article.summary_attendance_index

// 
// 勤務状況集計表　表示画面
// ==================================================================
article.summary_attendance_index span{margin:0px;color:red;}

article.summary_attendance_index table{border-spacing: 0;}
article.summary_attendance_index table tr th {font-size:12px;}
article.summary_attendance_index table tr th{padding:5px 5px !important;}
article.summary_attendance_index table tr td {font-size:12px;}
article.summary_attendance_index table tr td{padding:2px 0px !important;height:24px !important;background-color:#fff;}
article.summary_attendance_index table tr td .button {padding:4px !important;margin:0px !important;}
article.summary_attendance_index table tr td.bg_gray{background-color:#9F9687 !important;}
article.summary_attendance_index select {display: inline-block;width:50%;}

article.summary_attendance_index #paper_header table#paper_project {border-style:none !important;width:230px;margin-right:60px;margin-top:10px;}
article.summary_attendance_index #paper_header table#paper_project table {border:none;}
article.summary_attendance_index #paper_header table#paper_project td {border:0px;background-color:#fff;border-bottom: 1px solid #ECECEC;height:60px;}
article.summary_attendance_index #paper_header table#paper_project td strong{color:#6E6E6E;}
// article.summary_attendance_index #attendance_title{width:200px;border-bottom:1px solid #000;text-align:center;margin-bottom:20px;}
// article.summary_attendance_index #attendance_nengetu{width:240px;text-align:center;}
article.summary_attendance_index #paper_header table#paper_project{margin-bottom:0px;}


article.summary_attendance_index label{padding-right: 20px;}

article.summary_attendance_index .button.tiny.radius a{color:white;}
article.summary_attendance_index .button.tiny.radius a:hover{background:none;}

// 
// 勤務状況集計表　編集画面
// ================================================================================================================================
article.summary_attendance_edit input{margin-bottom:0px !important;width:35%;}
article.summary_attendance_edit .button{margin-bottom:0px;}
// article.summary_attendance_edit input:focus {
//     border:solid 1px #EEA34A;
// }


// 
// 勤務状況集計表　印刷
// ===================================================================
// article.summary_attendance_print table{border-spacing: 0;border-collapse: collapse;padding: 0px;padding: 0px;margin: 0px;}
// article.summary_attendance_print table td{padding: 0px;}
// article.summary_attendance_print table thead tr td{padding: 2px; font-size: 12px;}
// article.summary_attendance_print .main td{border: solid 1px;text-align: right;}
// article.summary_attendance_print .main thead td{text-align: center;padding:none;}
// article.summary_attendance_print .summary_header{border: none;padding: 0px;}
// article.summary_attendance_print .border_on{border: solid 1px;}
// article.summary_attendance_print .text_center{text-align: center !important;}
// article.summary_attendance_print .main #total{color: #00F;border-color: #000;font-size: 11px;text-align: left;}
// article.summary_attendance_print .main #zengetu{color: #00A;border-color: #000;}
// article.summary_attendance_print .main #tougetu{color: #0A0;border-color: #000;}
// article.summary_attendance_print .main #yukyuzan{color: #F00;border-color: #000;}
// article.summary_attendance_print .main #hankyusiyou{color: #F00;font-size: 10px;border-color: #000;}
// article.summary_attendance_print .main #koujo_ue{border-bottom: none;}
// article.summary_attendance_print .main #koujo_sita{border-top: none;}
// article.summary_attendance_print .main #total_no{color: #00F;border: solid 2px;border-color: #000;}
// article.summary_attendance_print .main .goukei td{
// 	border: solid 2px;
// 	border-color: #000;
// 	color: #00A;
// 	vertical-align: bottom;
// }
// article.summary_attendance_print .main #soukei{border-spacing: 5px;text-align: left;border-right: solid 1px;border-color: #000 !important;}
// article.summary_attendance_print .main #name{color: #005;font-weight:bold;}

// この記述で正常にレイアウトされるか確認の為
article.summary_attendance_print {
	table{

		border:none !important;
		font-family: "MS 明朝",serif;
		border-spacing: 0;border-collapse: collapse;padding: 0px;padding: 0px;margin: 0px;}
 	table td{padding: 0px;text-align: right;font-size: 12px;}
 	#header td{text-align: center;padding: 0px;font-size: 7px;border: solid 1px;}

 	.text_center{text-align: center !important;}
 	.text_left{text-align: left;}
 	.main #total{color: #00F;border-color: #000;font-size: 11px;text-align: left;}
 	.main #zengetu{color: #00A;border-color: #000;}
 	.main #tougetu{color: #0A0;border-color: #000;}
 	.main #yukyuzan{color: #F00;border-color: #000;}
 	.main #hankyusiyou{color: #F00;font-size: 10px;border-color: #000;}
 	.main #koujo_ue{border-bottom: none;}
 	.main #koujo_sita{border-top: none;}
 	.main #total_no{color: #00F;border: solid 2px;border-color: #000;}
 	.main .goukei td{


		border: solid 2px;
		border-color: #000;
		color: #00A;
		vertical-align: bottom;
	}
	.border_on{border: solid 1px;}
 	.border_off{bolrder:none !important;}
 	.main #soukei{border-spacing: 5px;text-align: left;border-right: solid 1px;border-color: #000 !important;}
 	.main #name{color: #005;font-weight:bold;}
}