@mixin box_sizing {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

/* =============================================================================
   休暇届(PDF)
   ========================================================================== */
article.vacation_request_index span{margin:0px;color:red;}

article.vacation_request_index table{border-collapse: collapse;border-spacing: 0;}
article.vacation_request_index table tr th {font-size:12px;}
article.vacation_request_index table tr th{padding:5px 5px !important;}
article.vacation_request_index table tr td {font-size:12px;}
article.vacation_request_index table tr td{padding:2px 0px !important;height:24px !important;background-color:#fff;}
article.vacation_request_index table tr td .button {padding:4px !important;margin:0px !important;}
article.vacation_request_ table tr td.bg_gray{background-color:#9F9687 !important;}
article.vacation_request_index select {display: inline-block;width:50%;}

article.vacation_request_index #paper_header table#paper_project {border-style:none !important;width:230px;margin-right:60px;margin-top:10px;}
article.vacation_request_index #paper_header table#paper_project table {border:none;}
article.vacation_request_index #paper_header table#paper_project td {border:0px;background-color:#fff;border-bottom: 1px solid #ECECEC;height:60px;}
article.vacation_request_index #paper_header table#paper_project td strong{color:#6E6E6E;}
article.vacation_request_index #attendance_title{width:200px;border-bottom:1px solid #000;text-align:center;margin-bottom:20px;}
article.vacation_request_index #attendance_nengetu{width:240px;text-align:center;}
article.vacation_request_index #paper_header table#paper_project{margin-bottom:0px;}

article.vacation_request_index .main {max-width: 1080px;}
article.vacation_request_index .main tr td {text-align: center;padding: 0px !important;}
article.vacation_request_index .main tr th {text-align: center;padding: 5px 2px !important;border: solid 1px;border-color: lightgray;}
article.vacation_request_index .main tr td {border: solid 1px;border-color: lightgray;}


article {padding-left:5px;}


article.vacation_request_index label{padding-right: 20px;}

article.vacation_request_index .button.tiny.radius a{color:white;}
article.vacation_request_index .button.tiny.radius a:hover{background:none;}

/* =============================================================================
   勤務状況報告書(編集)
   ========================================================================== */
article.vacation_request_edit select {display: inline-block;width:10%;}
article.vacation_request_edit select#vacation_requestation_express_koutu_date_1i{display: inline-block;width: 20%;}
article.vacation_request_edit select#vacation_request_pattern {display: inline-block;width:35%;}
article.vacation_request_edit .kubun{padding-right:10px;}
article.vacation_request_edit table#hours{border:0px;}
article.vacation_request_edit table#hours thead tr td {padding:0px !important;margin:0px !important;background-color:white;}
article.vacation_request_edit table#hours tbody tr td {padding:0px !important;margin:0px !important;}

article.vacation_request_edit input{margin-bottom:0px !important;}
article.vacation_request_edit .button{margin-bottom:0px;}

/* =============================================================================
   休暇届(PDF)
   ========================================================================== */
article.vacation_request_print {margin-top:130px;table-layout: fixed ;word-wrap: break-word;}
/*article.vacation_request_print table {border-spacing: 0;border:1px solid !important;}*/

h1#vacation_request_title {padding-left:280px;width:600px;text-decoration: underline;margin-top:-55px;margin-bottom:10px;letter-spacing: 30px;}
h4#vacation_request_for {padding-left:30px;width:535px;text-decoration: underline;float:left;font-family: ＭＳ Ｐゴシック;}
h6#vacation_request_request {text-decoration: underline;padding-left: 560px;font-family: ＭＳ Ｐゴシック;font-weight:bold;}
h7#vacation_request_fotter {padding-left: 600px;font-family: ＭＳ Ｐゴシック;font-weight:bold;}

article.vacation_request_print .info {border:1px solid !important; margin-top:-55px;}
article.vacation_request_print .cate {border:1px solid;}

#vacation_request_inkan {border: 1px solid; margin-right: 10px; border-collapse: collapse;}



#vacation_request_header table#vacation_request_project {border: 0; width: 230px; margin-right: 60px; margin-top: 10px; padding-left: 15px;}
#vacation_request_header table#vacation_request_project td {font-size: 12px; background-color: #fff; border-bottom: 1px solid #ECECEC; height: 60px;}
#vacation_request_header table#vacation_request_project td strong {color: #6E6E6E;}
