/* =============================================================================
   休暇(編集)
   ========================================================================== */
   article.vacation_request_edit select {display: inline-block;width:10%;}
   article.vacation_request_edit select#vacation_requestation_express_koutu_date_1i{display: inline-block;width: 20%;}
   article.vacation_request_edit select#vacation_request_pattern {display: inline-block;width:35%;}
   article.vacation_request_edit .kubun{padding-right:10px;}
   article.vacation_request_edit table#hours{border:0px;}
   article.vacation_request_edit table#hours thead tr td {padding:0px !important;margin:0px !important;background-color:white;}
   article.vacation_request_edit table#hours tbody tr td {padding:0px !important;margin:0px !important;}

   article.vacation_request_edit input{margin-bottom:0px !important;}
   article.vacation_request_edit .button{margin-bottom:0px;}
